.dish{
    max-width: 600px;
    border: 1px solid green;
    padding: 10px;
    border-radius: 10px;
}

.recipe_link{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
}
.searchImg{
    border: solid 1px green;
    border-radius: 10px;
}