@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



.home{
    
    background-image: "";
    
   
      /*========== Colors ==========*/
      --first-color: #069C54;
      --first-color-alt: #048654;
      --title-color: #393939;
      --text-color: #707070;
      --text-color-light: #A6A6A6;
      --body-color: #FBFEFD;
      --container-color: #FFFFFF;
    
      /*========== Font and typography ==========*/
      --body-font: 'Poppins', sans-serif;
      --biggest-font-size: 4rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1rem;
      --normal-font-size: .938rem;
      --small-font-size: .813rem;
      --smaller-font-size: .75rem;
    
      /*========== Font weight ==========*/
      --font-medium: 500;
      --font-semi-bold: 600;
    
      /*========== Margenes ==========*/
      --mb-1: .5rem;
      --mb-2: 1rem;
      --mb-3: 1.5rem;
      --mb-4: 2rem;
      --mb-5: 2.5rem;
      --mb-6: 3rem;
    
      /*========== z index ==========*/
      --z-tooltip: 10;
      --z-fixed: 100;
    }

.nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.nav__menu{
padding-left: 0px;
}
.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: 3rem;
}

.nav__logo:hover{
    color: var(--first-color);
    background-color: transparent;
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;

}

.nav__toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px){
    .nav__logo{
        visibility: hidden;
    }
    .nav__menu{
        position:fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 2rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}


.nav__list{
grid-template-columns: repeat(3, 1fr);
gap: 2rem;
DISPLAY: grid;

}

.nav__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color:var(--title-color);
    font-weight: var(--font-medium);
    font-size: 1.02rem;
}

.nav__link:hover{
    color: var(--first-color);
    background-color: transparent;
}

.nav__icon{
    font-size: 1.2rem;

}

.nav__item{
    display: flex;
    justify-content: center;
}

.nav__close{
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor:pointer;
    color: var(--first-color);
}

.nav__close:hover{
    color: var(--first-color-alt);
}
/* show menu */

.show-menu{
    bottom: 0;
}
/* Active link */
.active-link{
    color: var(--first-color);
}

/* Change background header */

.scroll-header{
    box-shadow: 0 -1px 4px rgba(0,0,0,.15);
}



@media screen and (min-width: 768px){
    .container{
        margin-left: auto;
        margin-right:auto ;
    }

body{
    margin: 0;
}

.section{
    padding: 6rem 0 2rem;
}
  

    .header{
        top: 0;
        bottom: initial;
      
            font-family: var(--body-font);
         
          
    }

    .header,
    .main,
    .footer__container{
        padding:0 1rem;
    }
    
    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
       
    }

    .nav__menu{
   margin-left: auto;
   display: flex;
   
    }
    .nav__btns{
        display: flex;
        margin-left: auto;
        
    }

    .change-theme{
        margin: 0;
    }

    .nav__list{
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
       
        
        }
        .header{
            margin-right: 0px;
        }

    .nav__close{
        display: none;
    }
    .nav__toggle{
        display: none;
    }
    
    .home__container{
        row-gap: 5rem;
    }

   
    
}