@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');



.main-footer{
    color: #069C54;
    background-color: white ;
    padding-top: 0em;
    padding-bottom: 0.5em;
    bottom: 0;
    width: 100%;
    font:  'Poppins', sans-serif;
}

a { 
    color: black;
    padding: 0em;
    width:auto;
    margin-top: auto;
}

a:hover{
    color:var(--first-color)
    
}

.footer-bottom {
    text-align: center;
}

@media screen and (max-width: 768px){
    .main-footer{
        padding-top: 4em;
        padding-bottom: 4em;
        font-family: var(--body-font);
           
    }




}


@media screen and (max-width: 414px){
    .main-footer{
        visibility: hidden;
           
    }
}
@media screen and (max-width: 360px){
    .main-footer{
        visibility: hidden;
           
    }
}