.home{
    
    background-image: "";
    
   
      /*========== Colors ==========*/
      --first-color: #069C54;
      --first-color-alt: #048654;
      --title-color: #393939;
      --text-color: #707070;
      --text-color-light: #A6A6A6;
      --body-color: #FFFFFF;
      --container-color: #FFFFFF;
    
      /*========== Font and typography ==========*/
      --body-font: 'Poppins', sans-serif;
      --biggest-font-size: 4rem;
      --h1-font-size: 1.5rem;
      --h2-font-size: 1.25rem;
      --h3-font-size: 1rem;
      --normal-font-size: .938rem;
      --small-font-size: .813rem;
      --smaller-font-size: .75rem;
    
      /*========== Font weight ==========*/
      --font-medium: 500;
      --font-semi-bold: 600;
    
      /*========== Margenes ==========*/
      --mb-1: .5rem;
      --mb-2: 1rem;
      --mb-3: 1.5rem;
      --mb-4: 2rem;
      --mb-5: 2.5rem;
      --mb-6: 3rem;
    
      /*========== z index ==========*/
      --z-tooltip: 10;
      --z-fixed: 100;
    }
    
    @media screen and (min-width: 768px){
      :root{
        --biggest-font-size: 4rem;
        --h1-font-size: 3rem;
        --h2-font-size: 3rem;
        --h3-font-size: 3rem;
        --normal-font-size: 2rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
      }
    }
    
    /*========== BASE ==========*/
    *,::before,::after{
      box-sizing: border-box;
    }
    
    html{
      scroll-behavior: smooth;
    }
    
    /*========== Variables Dark theme ==========*/
    body.dark-theme{
      --title-color: #F1F3F2;
      --text-color: #C7D1CC;
      --body-color: #1D2521;
      --container-color: #27302C;
    }
    
    /*========== Button Dark/Light ==========*/
    .change-theme{
      position: absolute;
      right: 1rem;
      top: 1.8rem;
      color: var(--text-color);
      font-size: 1rem;
      cursor: pointer;
    }
    
    body{
      margin: var(--header-height) 0 0 0;
      font-family: var(--body-font);
      font-size: var(--normal-font-size);
      background-color: var(--body-color);
      color: var(--text-color);
      line-height: 1.6;
    }
    
    h1,h2,h3,p,ul{
      margin: 0;
    }
    
    ul{
      padding: 0;
      list-style: none;
    }
    
    a{
      text-decoration: none;
    }
    
    img{
      max-width: 100%;
      height: auto;
    }
    
   
    
    /*========== LAYOUT ==========*/
    .bd-container{
      max-width: 960px;
      width: calc(100% - 2rem);
      margin-left: var(--mb-2);
      margin-right: var(--mb-2);
    }
    
    .bd-grid{
      display: grid;
      gap: 2rem;
    }
    
  
    /*========== HOME ==========*/
    .home__container{
      height: calc(100vh - var(--header-height));
      align-content: center;
    
    }
    
    .home__title{
      text-align: left;
      font-size: var(--biggest-font-size);
      color: var(--first-color);
      margin-bottom: 0.5em;
      padding-right: 0px;
    }
    
    .home__subtitle{
      font-size: var(--h1-font-size);
      color: var(--title-color);
      margin-bottom: 0.5em;
        margin-right: 0px;
    }
    
    .home__img{
      width: 300px;
      justify-self: right;
      margin-top: 2em;
    }

    .me-2 {
      margin-bottom: 0px;
    }
    
    
    
    /*========== MEDIA QUERIES ==========*/
    @media screen and (min-width: 576px){
      .home__container,
      .about__container,
      .app__container{
        grid-template-columns: repeat(2,1fr);
        align-items: center;
      }
    
      .about__data, .about__initial,
      .app__data, .app__initial,
      .contact__container, .contact__initial{
        text-align: initial;
      }
    
      .about__img, .app__img{
        width: 380px;
        order: -1;
      }
    
      .contact__container{
        grid-template-columns: 1.75fr 1fr;
        align-items: center;
      }
      .contact__button{
        justify-self: center;
      }
    }
    
    @media screen and (min-width: 768px){
      body{
        margin: 0;
      }
    
      .section{
        padding-top: 8rem;
      }
    
      .nav{
        height: calc(var(--header-height) + 1.5rem);
      }
      .nav__list{
        display: flex;
      }
      .nav__item{
        margin-left: var(--mb-5);
        margin-bottom: 0;
      }
      .nav__toggle{
        display: none;
      }
    
      .change-theme{
        position: initial;
        margin-left: var(--mb-2);
      }
    
      .home__container{
        height: 100vh;
        justify-items: center;
      }
    
      .services__container,
      .menu__container{
        margin-top: var(--mb-6);
      }
    
      .menu__container{
        grid-template-columns: repeat(3, 210px);
        column-gap: 4rem;
      }
      .menu__content{
        padding: 1.5rem;
      }
      .menu__img{
        width: 130px;
      }
    
      .app__store{
        margin: 0 var(--mb-1) 0 0;
      }
    }
    
    @media screen and (min-width: 960px){
      .bd-container{
        margin-left: auto;
        margin-right: auto;
    
            max-width: 1100px;
            width: calc(100% - 2rem);
           
          
      }
    
      .home__img{
        width: 400px;
        margin-right: 100px;
      }
      .home__data{
          margin-left: 100px;
      }
    
      .about__container,
      .app__container{
        column-gap: 7rem;
      }
    }
    
    /* For tall screens on mobiles y desktop*/
    
    
    @media screen and (min-height: 721px) {
        .home__container {
          height: 600px
        }
    }
  
    /*========== SERVICES ==========*/

/*========== MENU ==========*/
.menu__container{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  
  .menu__content{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px rgba(3,74,40,.15);
    padding: .75rem;
  }
  
  .menu__img{
    width: 100px;
    align-self: center;
    margin-bottom: var(--mb-2);
  }
  
  .menu__name, .menu__preci{
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  
  .menu__name{
    font-size: var(--normal-font-size);
  }
  
  .menu__detail, .menu__preci{
    font-size: var(--small-font-size);
  }
  
  .menu__detail{
    margin-bottom: var(--mb-1);
  }
  
  .menu__button{
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    padding: .625rem .813rem;
    border-radius: .5rem 0 .5rem 0;
  }
  /*========== CLASS CSS ==========*/
.section{
    padding: 4rem 0 2rem;
  }
  
  .section-title, .section-subtitle{
    text-align: center;
  }
  
  .section-title{
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: var(--mb-3);
  }
  
  .section-subtitle{
    display: block;
    color: var(--first-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
  }