a{
    color: black;
}

.recipe_link{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
    padding-top: 0em;
}

.output{
    margin-left: 30%;
}

.bodyOfOutput{
    margin-left: -4%;
}
.instructions{
}
.recipe_link{
    padding: 5px;
    border: solid 1px green;
    color: green;
    border-radius: 10px;
}
.recipe_link:hover{
    background-color: green;
    color: white;
}
.mealPlanImg{
    border: solid 1px;
    color:green;
    margin-top: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: -2%;
}