a{
    color: black;
}

.recipe_link{
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
    padding-top: 0em;
}

.output{
    margin-left: 30%;
}

.bodyOfOutput{
    margin-left: -4%;
}
.instructions{
    margin-left: 10%;
}
.recipe_link{
    margin-left: 25%;
}
.servings{
    margin-left: 5%;
}